<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='Demo.Submit'}"/>
</sly>
<form id = "full-text-search" action="/bin/myServlet/Task09" method = "POST" accept-charset="UTF-8">
  <label for = "Enter the Form" > Enter The form </label><br>

  <label for="fname">First name:</label><br>

  <input type="text" id="fname" name="fname" id="sesha sai babu"><br>

  <label for="lname">Last name:</label><br>

  <input type="text" id="lname" name="lname" id="maguluri"><br><br>

  <input title= "submit" type="submit" value="Submit">
</form> 
</form> 

